@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Road+Rage&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}